[user]
	email = martin.barksten@gmail.com
	name = Martin Barksten
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	delete-merged-branches = "!git branch --merged | grep -v '(\\*|master)' | xargs git branch -d"
