[user]
	email = martin.barksten@gmail.com
	name = Martin Barksten
[core]
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	delete-merged-branches = "!git branch -r --merged | grep -v '^* master$' | grep -v '^  master$' | sed 's/origin\\///' | xargs -n 1 git push --no-verify --delete origin"
