[submodule "dotbot"]
	path = dependencies/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "rust"]
	path = dependencies/rust
	url = https://github.com/rust-lang/rust
[submodule "ycmd"]
	path = dependencies/ycmd
	url = https://github.com/Valloric/ycmd
[submodule "YCM-Generator"]
	path = dependencies/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
	branch = stable
[submodule "all-the-icons.el"]
	path = emacs/all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el
[submodule "dependencies/iterm"]
	path = dependencies/iterm
	url = https://github.com/dracula/iterm.git
