xrandr --output eDP1 --primary --mode 2560x1600 --pos 0x0 --rotate normal --scale 1x1 --dpi 192 --auto --output DP1-1 --mode 1920x1080 --pos 1280x0 --rotate normal --scale 2x2 --auto --output DP2-1 --mode 1920x1080 --pos 3200x0 --rotate normal --scale 2x2
eval $(ssh-agent)
setxkbmap -layout us,se -option grp:shifts_toggle